# Ignoring the Configuration files.
config.py 
config.pyc 

# Ignoring all the wav files.  
"*.wav" 
*.wav 

# Ignore the .vscode folder. 
.vscode/

# Ignore the Testing folder.
Testing/

# Ignore the Testing folder.
_pycache_/

# Ignore the Feedbacak file.
"Feedback"
