alabaster==0.7.12
Babel==2.6.0
backports.functools-lru-cache==1.5
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.4.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
docutils==0.14
Flask==1.0.2
fuzzywuzzy==0.17.0
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
networkx==2.2
numpy==1.22.0
numpydoc==0.8.0
packaging==18.0
pandas==0.23.4
patsy==0.5.1
Pillow==5.3.0
pycparser==2.19
Pygments==2.3.0
pyparsing==2.3.0
pyssp==0.1.9.6
python-dateutil==2.7.3
python-Levenshtein==0.12.0
python-speech-features==0.6
pytz==2018.7
PyWavelets==1.0.1
RandomWords==0.2.1
requests==2.21.0
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.12.0
snowballstemmer==1.2.1
sounddevice==0.3.12
SpeechRecognition==3.8.1
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
statsmodels==0.9.0
toolz==0.9.0
typing==3.6.6
urllib3==1.24.1
watson-developer-cloud==2.10.0
websocket-client==0.48.0
Werkzeug==0.14.1
