<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VoiceSens Web Applicaiton</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/example.css" />

  </head>

  <body class="exampleBody">
    <div id="mainColumn" class="ui middle aligned center aligned grid">
      <div id="mainForm" class="ui large form">
        <h2 class="ui center aligned icon header loginText">
          <img src="{{ url_for('static', filename='images/makefg.png')}}" class="ui circular icon loginLogo">
          VoiceSens Sample Web Application
        </h2>

        <div id="formOverlay">
          <form>
            <div class="ui segment">
              <div id="enrollmentMessage" class="ui message">
                <div class="ui center aligned header">
                  User Signin
                </div>
              </div>
              <div class="field" id="userField">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" placeholder="Enter your Username">
                </div>
                <div id="usernamePointer" class="ui red basic below pointing label">
                  Incorrect syntax.
                </div>
              </div>
              <div class="field" id="passwordField">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Enter your Password" autocomplete="none">
                </div>
                <div id="passwordPointer" class="ui red basic below pointing label">
                  Your password should be more that 6 characters.
                </div>
              </div>
              <!-- <div class="field" id="repasswordField">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="repassword" placeholder="Re-enter your Password" autocomplete="none">
                </div>
                <div id="repasswordPointer" class="ui red basic below pointing label">
                  Your passwords don't match.
                </div>
              </div> -->
            </div>
          </form>
        </div>

        <div id="loadingContainer">
          <div class="ui active massive loader" id="loading"></div>
        </div>

        <!-- <div id="loginBtn" class="ui fluid large button viBtnStyle viBtnColor">
          Enroll New User
        </div> -->

        <!-- <button class="fluid ui button viBtnStyle viBtnColor">Fits container</button> -->

        <div id="nextButton" class="fluid ui animated button viBtnStyle viBtnColor" tabindex="0">
          <div class="visible content">Next</div>
          <div class="hidden content">
            Verify who your are with your voice
          </div>
        </div>

      </div>
    </div>

    <div class="ui inverted vertical footer segment form-page">
      <div class="ui center aligned container">
        - VoiceSens by Bedang Sen -
      </div>
    </div>
  </body>

  <script src="../static/javascript/auth.js"></script>

</html>
