<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VoiceSens Web Applicaiton</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/example.css" />

  </head>

  <body class="exampleBody">
    <div id="mainColumn" class="ui middle aligned center aligned grid">
      <div id="mainForm" class="ui large form">
        <h2 class="ui center aligned icon header loginText">
          <img src="../images/makefg.png" class="ui circular icon loginLogo">
          VoiceSens Sample Web Application
        </h2>

        <div class="ui segment">

           <div id="enrollmentMessage" class="ui message">
            <div class="ui center aligned header">
              User Voice Print Enrollment
            </div>
          </div>

          <div id="waveform"></div>

          <button id="startRecButton" class="fluid ui button">
            <i class="play icon"></i>
            Start Recording
          </button>
          <button id="stopRecButton" class="fluid ui button">
            <i class="pause icon"></i>
            Stop Recording
          </button>

           <div id="environmentMessage" class="ui red icon message">
            <i class="notched circle loading icon"></i>
            <div class="content">
              <div class="header">
                Scanning for Environmental Sound
              </div>
              <p id="recordBody">Please remain silent for 5 seconds.</p>
            </div>
          </div>

          <div id="passphraseMessage" class="ui yellow icon message">
           <i class="notched circle loading icon"></i>
           <div class="content">
             <div class="header">
               Please recite the following words.
             </div>
             <p id="randomPassphrase"></p>
           </div>
         </div>

         <div id="acceptMessage" class="ui green icon message">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div id="recordTitle" class="header">
              Success
            </div>
            <p>Your voice enrollment was successful.</p>
          </div>
        </div>

        <div id="rejectMessage" class="ui red icon message">
         <i class="notched circle loading icon"></i>
         <div class="content">
           <div id="recordTitle" class="header">
             Fail
           </div>
           <p id="recordBody">Your voice enrollment was not succesful. Please try again. </p>
         </div>
       </div>






        </div>

      </div>
    </div>

    <div class="ui inverted vertical footer segment form-page">
      <div class="ui center aligned container">
        - VoiceSens by Bedang Sen -
      </div>
    </div>
  </body>


  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script src="../static/javascript/p5.min.js"></script>
  <script src="../static/javascript/p5.sound.min.js"></script>
  <script src="../static/javascript/wavesurfer.microphone.min.js"></script>
  <script src="../static/javascript/voice.js"></script>

</html>
